aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython==2.6.1
ffmpeg-python
gitpython
hachoir
heroku3
motor==2.3.0
numpy==1.24.4
opencv-python
pillow==9.5.0
psutil
py-tgcalls==0.9.7
pykeyboard
pyrogram==2.0.106
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
tgcrypto
unidecode
uvloop
yt-dlp
youtube-search
youtube-search-python
nano
flask
gunicorn
pymongo==3.12.3
packaging<25
